<!DOCTYPE html>
<html lang="uz">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'bootstrap-5.0.2-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Blog</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row navbar">
            <div class="col-12 col-md-6 col-sm-6 navbar-icon"><a href="./bir.html">Azimjon's Blog</a></div>
            <div class="col-12 col-md-6 col-sm-6 navbar-link">
                <div><a href="/about/">About</a></div>
                <div><a href="/blog/">Blog</a></div>
                <div><a href="#">Channel</a></div>
            </div>
        </div>
        <div class="row blog">
            <div class="col-12">
                <h1>Blog</h1>
            </div>
        </div>
        <div class="row main">
            <div class="col-12 col-md-6 col-sm-6 main-card1">
                {% for maqola in maqolalar %}
                <h3>{{ maqola.title }}</h3><br><br>
                <h3>{{ maqola.sana }}</h3><br><br>
                <div class="main-card1-link">
                    <a href="/blog/maqola 1/index.html"><h6>30 June, 2021<h6> <h5>Yandex'ga topshirish Haqida</h5></a>
                </div>
                {% endfor %}
            </div>
            <div class="col-12 col-md-6 col-sm-6 main-card2">
                <h4>NEWSLETTER</h4>
                <p>Subscribe to <a href="#">@codialuz</a> telegram channel where I share interesting & useful stuff.</p>
            </div>
        </div>
        <div class="row footer">
            <p>© 2021 azimjon.com</p>
        </div>
    </div>
</body>
</html>