<!DOCTYPE html>
<html lang="uz">
<head>
{% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bir.css' %}">
    <title>Azimjon's Blog</title>
</head>
<body>
    <div class="container">
        <div class="row navbar">
            <div class="col-12 col-md-6 col-sm-6 navbar-icon"><a href="./index.html">Sardorbek Blog</a></div>
            <div class="col-12 col-md-6 col-sm-6 navbar-link">
                <div><a href="/about/">About</a></div>
                <div><a href="/blog/">Blog</a></div>
                <div><a href="#">Channel</a></div>
            </div>
        </div>
        <div class="row header">
            <div class="col-12 col-md-3 col-sm-12 header-img">
                <img src="{% static 'rasm.jpg' %}" alt="">
            </div>
            <div class="col-12 col-md-9 col-sm-12 header-text">
                <h1>Sardorbek Abdubannopov</h1>
                <p>Software Engineer</p>
                <a href="#"><img src="../photo/youtube.png" alt=""></a>
                <a href="#"><img src="../photo/twitter.png" alt=""></a>
                <a href="#"><img src="../photo/github.png" alt=""></a>
                <a href="#"><img src="../photo/in.png" alt=""></a>
            </div>
            <div class="col-12 col-md-12 col-sm-12 header-btn">
                <p>I write about non-technical stuff in the technical world</p>
                <a class="btn-1" href="/blog/">Blog</a>
                <a class="btn-2" href="/about/">About</a>
            </div>
            <div class="row footer">
                <div class="col-12">
                    <p>© 2021 codial.com</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>